{% load static %}

<script>
         
  const insert_place = document.getElementById('multiple_submits');
  {% for i in users %}
      insert_place.innerHTML += `
      <div class = "{% cycle 'backgroundBlue1' 'backgroundBlue2' %}">
          <div class="flex" style="justify-content: space-between;">
              <div style="margin-top: -16px; margin-bottom: -20px;">
                  <a href="{% url 'visitedUser' i.id %}">
                      <div>
                          <img style="width:150px" src="{{ i.avatar.url }}" alt="">
                      </div>
                  </a>
              </div>
              <div class="userDatesContainer">
                  <div style="display: inline-block; color: black">
                      <p style="margin: 2px 0">Name:</p>
                      <p style="margin: 0">Mitglied seit:</p>
                  </div>
                  <a href="{% url 'visitedUser' i.id %}">
                      <div style="margin-left: 20px; display: inline-block;">
                          <p style="margin: 2px 0">{{ i.first_name }}&nbsp;{{ i.last_name }}</p>
                          <p style="margin: 0">{{ i.date_joined.date }}</p>
                      </div>
                  </a>
              </div>

              <!-- ACTIONS -->
              <div style="margin-right: 30px; margin-top: -20px;">
                  <a href="{% url 'send_message' i.id %}">
                      <div class="flex">
                          <div style="padding: 10px 0;">
                              <img style="width: 50px; height: auto;"
                                  src="{% static 'images/icons/message_icon.png' %}" alt="">
                          </div>
                          <div style="padding: 20px 0;">
                              <p style="margin: 0;">Nachricht schreiben</p>
                          </div>
                      </div>
                  </a>
                  <div>
                      <div class="flex" style="margin-top: -50px;">
                          <div style="padding: 10px 0;">
                              <img style="margin-right: 5px; width: 45px; height: auto;"
                                  src="{% static 'images/icons/know_icon.png' %}" alt="">
                          </div>
                          <div id='{{i.id}}' style="padding: 20px 0;">
                              <p onclick="send_data('{{i.id}}')" class="knowButton">Ich kenne {{ i.first_name }}</p>
                          </div>
                      </div>
                  <div>
              </div>
          </div>
      </div>
      `;
  

  
  {% endfor %}

  const user = String({{ user.id }});
  function send_data(user_id) {
      $.ajax({
          url: {% url send_to %},
          type: 'POST',
          data: {
              requester : user,
              requested : user_id,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (response) {
              document.getElementById(user_id).innerHTML = `
                  <p class="knowButton">{{answere}}</p>
              `;
          }
      })
  }
      
</script>
