{% load static %}



<div class="flex" style="justify-content: space-between;">
    <div class="flex">
    
        <div class="flex" style="align-items: center; margin-bottom: 250px;">
            <input type="checkbox" style="margin: 0; padding: 0; width: 20px;">
            <p style="padding: 0; margin: 0;">Auswählen</p>
        </div>
        
        <a href="{% url 'visitedUser' sender.id %}">
            <div class="flex">
                <img style="width:150px; height: auto;" src="{{ sender.avatar.url }}" alt="">
                <p>{{sender.first_name}} {{sender.last_name}}</p>
            </div>
        </a>
     
    </div>
    
    <div class="userDatesContainer">
        <a href="{%  %}" style="font-weight: bold;">{{mess.subject}}</a>
    </div>

    <!-- ACTIONS -->
    <div>
        <a href="{% url 'read_message' mess.id 1 %}">
            <div class="flex">
                <div>
                    <img style="width: 50px; height: auto;"
                        src="{% static 'images/icons/message_icon.png' %}" alt="">
                </div>
                <div style="padding: 20px 0;">
                    <p style="margin: 0;">Lesen</p>
                </div>
            </div>
        </a>
        <a href="{% url 'send_message' sender.id %}">
            <div class="flex">
                <div>
                    <img style="width: 50px; height: auto;"
                        src="{% static 'images/icons/message_icon.png' %}" alt="">
                </div>
                <div style="padding: 20px 0;">
                    <p style="margin: 0;">Antworten</p>
                </div>
            </div>
        </a>
        <a href="{% url 'messagesPage' mess.id 3 %}">
            <div class="flex">
                <div>
                    <img style="width: 50px; height: auto;"
                        src="{% static 'images/icons/message_icon.png' %}" alt="">
                </div>
                <div style="padding: 20px 0;">
                    <p style="margin: 0;">Löschen</p>
                </div>
            </div>
        </a>
        
    </div>
</div>
