{% load static %}



<div class="flex" style="justify-content: space-between;">
    <div class="flex">
    
        <div class="flex">
            <input type="checkbox" style="margin: 0; padding: 0; width: 20px;">
            <p style="padding: 0; margin: 0;">Auswählen</p>
        </div>
        
        <a href="{% url 'visitedUser' sender.id %}">
            <div class="flex">
                <img style="width:150px; height: auto;" src="{{ sender.avatar.url }}" alt="">
                <p>{{sender.first_name}} {{sender.last_name}}</p>
            </div>
        </a>
     
    </div>
    
    <div class="userDatesContainer">
        <a href="{% url 'visitedUser' sender.id %}" style="font-weight: bold;">{{mess.subject}}</a>
    </div>

    <!-- ACTIONS -->
    <div style="margin: 10px;">
        <a style="margin: 0;" href="{% url 'read_message' mess.id 1 %}">
            <div class="flex">
                <img style="width: 35px; height: auto;"
                    src="{% static 'images/icons/messages/read.png' %}" alt="">           
                <p style="margin-top: 10px; margin-bottom: 0px;">Lesen</p>           
            </div>
        </a>
        <a style="margin: 0;" href="{% url 'send_message' sender.id %}">
            <div class="flex" style="margin-top: -5px;">           
                    <img style="width: 35px; height: auto;"
                        src="{% static 'images/icons/messages/send.png' %}" alt="">
                    <p style="margin-top: 10px; margin-bottom: 0px;">Antworten</p>
            </div>      
        </a>
        <a style="margin: 0;" href="">
            <div class="flex" style="margin-top: -5px;">           
                    <img style="width: 35px; height: auto;"
                        src="{% static 'images/icons/messages/lead.png' %}" alt="">          
                    <p style="margin-top: 10px; margin-bottom: 0px;">Weiterleiten</p>                
            </div>
        </a>
        <a style="margin: 0;" href="{% url 'messagesPage' mess.id 3 %}">
            <div class="flex" style="margin-top: -5px;">           
                    <img style="width: 35px; height: auto;"
                        src="{% static 'images/icons/messages/block.png' %}" alt="">          
                    <p style="margin-top: 10px; margin-bottom: 0px;">Löschen</p>                
            </div>
        </a>
    </div>
</div>
