<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wer kennt Wen</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/wkw.css' %}">
</head>
<body>


    {% block content %}

    {% endblock %}

    <footer>
        <div >
            <a class="footerContent" href="">Was bringt's?&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">FAQ&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Presse&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Wer sind wir&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Mobil&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">wkw-Shop&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Lokalanzeigen&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">AGB&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Datenschutz&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Jobs&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Kontakt&nbsp;</a>
            <p class="stick">|&nbsp;</p>
            <a class="footerContent" href="">Impressum</a>
        </div>
        <div>
            <p class="copyright">© 2010 wer-kennt-wen.de</p>
        </div>
    </footer>
    
</body>
</html>