{% extends 'main.html' %}

{% block content %}

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" href="{% static 'styles/messages.css' %}">


<div class="main">

    <header class="header" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="headcontain">



            {% include 'head_area.html' %}


            <!-- HEADBAR -->

            <div class="headbar">
                <a class="link_headbar" href="{% url 'home' %}">Start</a>
                <a class="link_headbar" href="">Neues</a>
                <a class="link_headbar" href="{% url 'me' %}">Ich</a>
                <a class="choosen" href="{% url 'know' %}">Ich kenne</a>
                <a class="link_headbar" href="">Gruppen</a>
                <a class="link_headbar" href="{% url 'messagesPage' user.id 1 %}">Nachrichen</a>
                <a class="link_headbar" href="">Kalender</a>
                <a class="link_headbar" href="">Einstellungen</a>
            </div>

        </div>

    </header>

    <div class="receivedSentFrame">
        <div>
            <div class="receivedSent"><a class="received" href="{% url 'everyone' %}">Alle bei wkw</a></div>
            <div class="underlined"></div>
        </div>
        <div>
            <div class="receivedSent"><a class="sent" href="{% url 'know' %}">Ich kenne</a></div>
            <div class="underline"></div>
        </div>


    </div>

    <div class="page">




        <!-- LEFT PAGE SECTION -->

        <div class="page-section" style="width: 2100px; margin-left: 25px;">
            <h1 class="headline">
                Vielleicht kennst du:
            </h1>
            <div class="lineframe" style="margin-bottom: 100px">
                <div class="blueline-shadow">
                    <div class="blueline">
                        <p class="text_blueline" style="width: 250px;">
                            Leute
                        </p>
                    </div>
                </div>
            </div>
            <div id="multiple_submits">

            </div>

            <script>
                console.log({{conections}})

                let value = true;
                const user = String({{ user.id }});
                let requested;
                let hashed;
                const insert_place = document.getElementById('multiple_submits');
                {% for i in users %}
                console.log("{{i.first_name}}")
                requested = String({{ i.id }});
                if (value) {
                    insert_place.innerHTML += `
                    <div style="background-color: rgb(189, 255, 255);">
                        <div class="flex" style="justify-content: space-between;">
                            <div style="margin-top: -16px; margin-bottom: -20px;">
                                <a href="{% url 'visitedUser' i.id %}">
                                    <div>
                                        <img style="width:150px" src="{{ i.avatar.url }}" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="userDatesContainer">
                                <div style="display: inline-block; color: black">
                                    <p style="margin: 2px 0">Name:</p>
                                    <p style="margin: 0">Mitglied seit:</p>
                                </div>
                                <a href="{% url 'visitedUser' i.id %}">
                                    <div style="margin-left: 20px; display: inline-block;">
                                        <p style="margin: 2px 0">{{ i.first_name }}&nbsp;{{ i.last_name }}</p>
                                        <p style="margin: 0">{{ i.date_joined.date }}</p>
                                    </div>
                                </a>
                            </div>

                            <!-- ACTIONS -->
                            <div style="margin-right: 30px; margin-top: -20px;">
                                <a href="{% url 'send_message' i.id %}">
                                    <div class="flex">
                                        <div style="padding: 10px 0;">
                                            <img style="width: 50px; height: auto;"
                                                src="{% static 'images/icons/message_icon.png' %}" alt="">
                                        </div>
                                        <div style="padding: 20px 0;">
                                            <p class="to_underline" style="margin: 0;">Nachricht schreiben</p>
                                        </div>
                                    </div>
                                </a>
                                <div>
                                    <div class="flex" style="margin-top: -50px;">
                                        <div style="padding: 10px 0;">
                                            <img style="margin-right: 5px; width: 45px; height: auto;"
                                                src="{% static 'images/icons/know_icon.png' %}" alt="">
                                        </div>
                                        <div id=${requested} style="padding: 20px 0;">
                                            <p onclick="send_data(${requested})" class="knowButton">Ich kenne {{ i.first_name }}</p>
                                        </div>
                                    </div>
                                <div>
                            </div>
                        </div>
                    </div>
                    `;
                    value = !value;
                }
                else {
                    insert_place.innerHTML += `
                    <div style="background-color: rgb(220, 255, 255);">
                        <div class="flex" style="justify-content: space-between;">
                            <div style="margin-top: -16px; margin-bottom: -20px;">
                                <a href="{% url 'visitedUser' i.id %}">
                                    <div>
                                        <img style="width:150px" src="{{ i.avatar.url }}" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="userDatesContainer">
                                <div style="display: inline-block; color: black">
                                    <p style="margin: 2px 0">Name:</p>
                                    <p style="margin: 0">Mitglied seit:</p>
                                </div>
                                <a href="{% url 'visitedUser' i.id %}">
                                    <div style="margin-left: 20px; display: inline-block;">
                                        <p style="margin: 2px 0">{{ i.first_name }}&nbsp;{{ i.last_name }}</p>
                                        <p style="margin: 0">{{ i.date_joined.date }}</p>
                                    </div>
                                </a>
                            </div>

                            <!-- ACTIONS -->
                            <div style="margin-right: 30px; margin-top: -20px;">
                                <a href="{% url 'send_message' i.id %}">
                                    <div class="flex">
                                        <div style="padding: 10px 0;">
                                            <img style="width: 50px; height: auto;"
                                                src="{% static 'images/icons/message_icon.png' %}" alt="">
                                        </div>
                                        <div style="padding: 20px 0;">
                                            <p class="to_underline" style="margin: 0;">Nachricht schreiben</p>
                                        </div>
                                    </div>
                                </a>
                                <div>
                                    <div class="flex" style="margin-top: -50px;">
                                        <div style="padding: 10px 0;">
                                            <img style="margin-right: 5px; width: 45px; height: auto;"
                                                src="{% static 'images/icons/know_icon.png' %}" alt="">
                                        </div>
                                        <div id=${requested} style="padding: 20px 0;">                                                             
                                            <p onclick="send_data(${requested})" class="knowButton">Ich kenne {{ i.first_name }}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                    value = !value;

                }



                {% endfor %}

                function send_data(user_id) {
                    $.ajax({
                        url: {% url 'askUser' %},
                        type: 'POST',
                        data: {
                            requester : user,
                            requested : user_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            document.getElementById(user_id).innerHTML = `
                                <p class="knowButtonPressed">Anfrage geschickt</p>
                            `;
                        }
                    })
                }
                    

            </script>





        </div>
        <div style="width: 45px;">
        </div>
    </div>

</div>

{% endblock content %}