{% extends 'main.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" href="{% static 'styles/messages.css' %}">

<div class="main">

    <header class="header" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="headcontain">


            
            {% include 'head_area.html' %}


            <!-- HEADBAR -->

            <div class="headbar">
                <a class="link_headbar" href="{% url 'home' %}">Start</a>
                <a class="link_headbar" href="">Neues</a>
                <a class="link_headbar" href="{% url 'me' %}">Ich</a>
                <a class="link_headbar" href="{% url 'know' %}">Ich kenne</a>
                <a class="link_headbar" href="">Gruppen</a>
                <a class="choosen" href="{% url 'messagesPage' user.id 1 %}">Nachrichen</a>
                <a class="link_headbar" href="">Kalender</a>
                <a class="link_headbar" href="">Einstellungen</a>
            </div>

        </div>

    </header>


    <div class="page">


        <!-- LEFT PAGE SECTION -->

        <div class="page-section" style="width: 2100px; margin-left: 25px;">
            <h1 class="headline">
                Nachricht verfassen
            </h1>
            <div class="messageFrame">
                <div>
                    <p>Verfasse deine Nachricht. Wir kontaktieren Dich, wenn Du eine Antwort erhälst.</p>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="flex" style="justify-content: space-between;">
                        <div>
                            <p>An:</p>
                        </div>
                        <div class="inputFieldFrame">
                            <input disabled class="inputField" type="text" value="{{ receiver.first_name }}&nbsp;{{receiver.last_name}}">
                        </div>
                    </div>
                    <div class="flex" style="justify-content: space-between;">
                        <div>
                            <p>Betreff:</p>
                        </div>
                        <div class="inputFieldFrame">
                            <input class="inputField" type="text" name="subject">
                        </div>
                    </div>
                    <div class="flex" style="justify-content: space-between;">
                        <div>
                            <p>Nachricht:</p>
                        </div>
                        <div class="inputFieldFrame">
                            <textarea class="message" name="to_send"></textarea>
                        </div>
                    </div>
                    <div style="width: 100%; text-align: center; margin-top: -15px;">
                        <button type="submit" class="aquaButton">Absenden</button>
                        <div style="display: inline-block; margin: 1px 0">
                            <a class="link_to_button" class="aquaButton" href="{% url 'home' %}">
                                Verwerfen
                            </a>
                        </div>
                        
                        
                    </div>
                </form>
                
               
            </div>

            
        </div>


        <!-- RIGHT PAGE SECTION -->

        <div class="page-section" style="margin: 50px 20px">
            <div class="firstSteps">
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline" style="width: 250px;">
                                Favouriten
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contentContainer">
                    empty
                </div>
            </div>
            {% if messages %}
                {% for error in messages %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
