{% extends 'main.html' %}

{% block content %}

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" href="{% static 'styles/me.css' %}">

<div class="main">

    <header class="header" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="headcontain">

           
            {% include 'head_area.html' %}

            <!-- HEADBAR -->

            <div class="headbar">
                <a class="link_headbar" href="{% url 'home' %}">Start</a>
                <a class="link_headbar" href="">Neues</a>
                <a class="link_headbar" href="{% url 'me' %}">Ich</a>
                <a class="link_headbar" href="{% url 'know' %}">Ich kenne</a>
                <a class="link_headbar" href="">Gruppen</a>
                <a class="link_headbar" href="{% url 'messagesPage' user.id 1 %}">Nachrichen</a>
                <a class="link_headbar" href="">Kalender</a>
                <a class="link_headbar" href="">Einstellungen</a>
            </div>

        </div>

    </header>


    <div class="page">


        <!-- LEFT PAGE SECTION -->

        <div class="page-section" style="width: 2100px; margin-left: 25px;">
            <div id="changeName">
                <h1 class="headline">
                    {{ visitedUser.first_name }}'s Seite
                </h1>
            </div>
          
            {% if middlemans != None %}
            <div class="flex" style="align-items: center;">

     
                <a href="{% url 'me' %}">
                    <div style="text-align: center; width: 120px;">
                        <img style="width: 100%;" src="{{ user.avatar.url }}" alt="">
                        <p class="frendsFount">Du</p>
                    </div>      
                </a>                 
  
                <div>
                    <img style="width: 50px;" src="{% static 'images/icons/double_arrow_icon.png' %}" alt="">
                </div>
                

                <!-- MIDDLEMANS -->
                
                {% if middlemans != False %}
                {% for middleman in middlemans %}
    
                <a href="{% url 'visitedUser' middleman.id %}">
                    <div style="text-align: center; width: 120px;">
                        <img style="width: 100%;" src="{{ middleman.avatar.url }}" alt="">
                        <div>
                            <p class="frendsFount">{{ middleman.first_name }} {{ middleman.last_name }}</p>
                        </div>
                    </div>       
                </a>
 
                <div>
                    <img style="width: 50px;" src="{% static 'images/icons/double_arrow_icon.png' %}" alt="">
                </div>
                
                {% endfor %}
                {% endif %}
 
                <a style="text-align: center;" href="">
                    <div style="text-align: center; width: 120px;">
                        <img style="width: 100%;" src="{{ visitedUser.avatar.url }}" alt="">
                        <div>
                            <p class="frendsFount">{{ visitedUser.first_name }} {{ visitedUser.last_name }}</p>
                        </div>
                    </div>             
                </a>
 
                        
    
            </div>
            {% endif %}
      

            <!-- INFO -->

            <p class="paragraph" style="margin-top: 50px;">
               
            </p>
            <div class="firstSteps">
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline">
                                Infos
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="paragraph">
                        
                    </p>
                    <div class="flex" style="justify-content: space-between;">
                        <div class="justFrame">

                            <div class="imageAlignText">
                                <p class="infoHeader">
                                    Allgemeines
                                </p>
                                <!-- <img class="icon" src="{% static 'images/icons/pancel.png' %}" alt=""> -->
                            </div>

                            <div id="table">
                                <table class="tableSpace">
                                    <tr>
                                        <td class="question">Name</td>
                                        <td class="noEdit">{{ visitedUser.first_name }}&nbsp;{{ visitedUser.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="question">Mitglied seit</td>
                                        <td class="noEdit">{{ visitedUser.date_joined.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="question">Aktualisiert</td>
                                        <td class="noEdit">{{ visitedUser.last_login.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="question">Geschlecht</td>
                                        {% if visitedUser.gender == 'M' %}
                                        <td class="noEdit">Männlich</td>
                                        {% else %}
                                        <td class="noEdit">Weiblich</td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>

                            <div class="imageAlignText">
                                <p class="infoHeader">
                                    Kontakt
                                </p>
                                <!-- <img class="icon" src="{% static 'images/icons/pancel.png' %}" alt=""> -->
                            </div>

                        </div>
                        
                        <div class="justFrame">
                            <div class="imageAlignText">
                                <p class="infoHeader">
                                    Persönliches
                                </p>
                                <!-- <img class="icon" src="{% static 'images/icons/pancel.png' %}" alt=""> -->
                            </div>
                            <div class="sizeGiver">
                                <textarea disabled class="personal" name="personal" id="" cols="30" rows="10"
                                    placeholder="{{ visitedUser.first_name }} hat hier noch nichts eingetragen"></textarea>
                            </div>

                            <div id="table">
                            </div>

                            <div class="imageAlignText">
                                <p class="infoHeader">
                                    Einladungen
                                </p>
                            </div>

                            <div>
                                <table>
                                    <tr>
                                        <td class="question">Eingeladen von</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="question">Erfolgreich eingeladen</td>
                                
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>















    



        
            <!-- SOME FRENDS -->

            <div>
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline">
                                {% if vU_frends_amount == 1 %}
                                {{visitedUser.first_name}} kennt {{ vU_frends.0.first_name }} {{ vU_frends.0.last_name }}
                                {% elif vU_frends_amount > 1 %}
                                {{visitedUser.first_name}} kennt {{ vU_frends_amount }} Leute
                                {% else %}
                                {{visitedUser.first_name}} kennt noch keine Leute
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="contentContainer2">
                    {% if vU_frends_amount == 0 %}
                    <p class="blockText, paragraph">
                      {{visitedUser.first_name}} kennt noch keine Leute hier.
                    </p>
                    {% else %}                  
                    <div class="someFrends">
                        {% for frend in limited_frends %}
                        {% if frend.id == user.id %}
                        <a href="{% url 'me' %}" style="margin-bottom: 50px;">
                            <div style="text-align: center; margin: 20px 20px;">
                                <img style="width: 120px;" src="{{ frend.avatar.url }}" alt="">
                                <p class="frendsFount">Du</p>
                            </div>
                            
                        </a>
                        {% else %}
                        <a href="{% url 'visitedUser' frend.id %}" style="margin-bottom: 50px;">
                            <div style="text-align: center;  margin: 20px 20px;">
                                <img style="width: 120px;" src="{{ frend.avatar.url }}" alt="">         
                                <p class="frendsFount">{{ frend.first_name }} {{ frend.last_name }}</p>
                                <!-- <p style="margin: 0; font-size: 18px;"></p> -->
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>

                    {% endif %}
                    {% if vU_frends_amount > 6 %}
                    <div style="width: 100%; text-align: center; margin-top: -30px;">
                        <a class="to_underline" href="{% url 'visitedUser_knows' visitedUser.id %}">alle Anzeigen, die {{ visitedUser.first_name }} kennt</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            
            <div>
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline">
                                Schreib was in {{visitedUser.first_name}}'s Gästebuch
                            </p>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="contentContainer2">
                        <textarea class="currentActives" placeholder="Schreib was in {{visitedUser.first_name}}'s Gästebuch"
                            name="currentActivs" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div style="text-align:center; width: 30%;">
                        <p id="count">noch <b>160</b> Zeichen</p>
                        <button class="sendButton">
                            <div class="buttonContent">
                                <img class="icon" src="{% static 'images/icons/speechBubble.png' %}" alt="">
                                <p class="blockText">Senden</p>
                            </div>
                        </button>
                    </div>
                </div>   
            </div>
        </div>


        <!-- RIGHT PAGE SECTION -->



        <div class="page-section" style="margin: 50px 20px">


            <!-- profilePicture -->

            <div class="pictureFrame" id="changePicture">
                <img style="width: 300px; height: auto;" class="profilePicture" src="{{ visitedUser.avatar.url }}">
            </div>

            <div style="width: 100%;">
                <div class="flex">
                    <img style="width: 50px; height: 200px; margin-top: 10px;" src="{% static 'images/icons/icons.png' %}" alt="">
                    <div style="margin-bottom: 20px;">
                        <button style="padding-bottom: 10px; padding-top: 15px;" class="invisibleButton">Mit {{ visitedUser.first_name }} chatten</button>
                        <a href="{% url 'send_message' visitedUser.id %}" style="padding-bottom: 10px; padding-top: 3px;" class="invisibleButton">Nachricht an {{ visitedUser.first_name }}</a>
                        
                  

                
                        <div id="{{visitedUser.id}}">
                            {% if middlemans == False %}
                            <button style="padding-bottom: 10px; padding-top: 3px;" class="invisibleButton">Ich kenne {{ visitedUser.first_name }} nicht mehr</button>
                            {% elif already_asked %}
                            <button style="padding-bottom: 10px; padding-top: 3px;" class="invisibleButton">Anfrage geschickt</button>
                            {% else %}
                            <button onclick="send_data('{{ visitedUser.id }}')" style="padding-bottom: 10px; padding-top: 3px;" class="invisibleButton">Ich kenne {{ visitedUser.first_name }}</button>
                            {% endif %}
                        </div>
                        
                        <button style="padding-bottom: 10px; padding-top: 0px;" class="invisibleButton">{{ visitedUser.first_name }} ignorieren</button>
                        <button class="invisibleButton">Profil melden</button>
                    </div>
                </div>
            </div>

            <script>


                function send_data(user_id) {
                    $.ajax({
                        url: {% url 'askUser' %},
                        type: 'POST',
                        data: {
                            requester : "{{user.id}}",
                            requested : user_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (response) {
                            document.getElementById(user_id).innerHTML = `
                            <button style="padding-bottom: 10px; padding-top: 3px;" class="invisibleButton">Anfrage geschickt</button>
                            `;
                        }
                    })
                }

            </script>

            <div class="firstSteps">
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline" style="width: 250px;">
                                Wo {{ visitedUser.first_name }} Leute kennt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sizeGiver" style="height: 300px">
                    <img class="map" src="{% static 'images/icons/germanyMap.png' %}">
                </div>
            </div>
            <div class="firstSteps">
                <div class="lineframe">
                    <div class="blueline-shadow">
                        <div class="blueline">
                            <p class="text_blueline" style="width: 250px;">
                                Fotoalben
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sizeGiver" style="text-align: left;">
                    <div class="flex" style="align-items:center">
                        <!-- <img class="icon" style="width: 55px; height:auto" src="{% static 'images/icons/newAlbum.png' %}">
                        <p class="invisibleButton">Neues Album anlegen</p> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div style="height: 100px;">
     
    </div>
    
 

</div>


{% endblock content %}
